@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* ¨ {
  font-family: "Ubuntu", sans-serif;
  color: black;
}

footer {
  background-color: rgb(255, 193, 7);
}

.logo-redes {
  width: 20px;
}

.logo-pagos {
  width: 20px;
}

header {
  background-color: rgb(255, 193, 7);
}
header a {
  margin: 0 15px;
}

#imageLogo {
  height: 70px;
  margin-right: 50px;
}

#imagecart {
  width: 20px;
}

.navbar-nav li {
  margin-left: 20px;
}

main {
  background-color: white;
}

h1 {
  font-weight: 400;
  text-align: center;
  margin: 20px 20px 30px 20px;
}

h2 {
  font-weight: 500;
  font-size: large;
  text-align: center;
}

.boton-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 45px;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.boton-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: #fff;
}

/* PAGINA CARRITO DE COMPRAS */
#carritoCompras {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(215, 248, 248);
}
#carritoCompras .productoElegido {
  width: 35%;
}
#carritoCompras .productoElegido .productoCarrito {
  width: 100%;
}

@media (max-width: 576px) {
  #carritoCompras {
    width: auto;
    margin: auto;
  }
}
/* PAGINA CONTACTO*/
#seccionContacto {
  margin: 20px;
}

@media (max-width: 576px) {
  #seccionContacto iframe {
    margin: 0;
    max-width: 100%;
  }
}
/* PAGINA INICIO*/
/* Carrusel */
.contenedor-carruseles {
  height: 400px;
  overflow: hidden;
  margin: 0 100px;
}
.contenedor-carruseles .carrusel {
  height: 100%;
  position: relative;
}
.contenedor-carruseles .carrusel .imagen-carrusel {
  height: 100%;
}
.contenedor-carruseles .carrusel #imagenCarrusel-blue {
  background-color: blue;
}
.contenedor-carruseles .carrusel #imagenCarrusel-red {
  background-color: red;
}
.contenedor-carruseles .carrusel #imagenCarrusel-green {
  background-color: green;
}
.contenedor-carruseles .carrusel .flecha-carrusel {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.contenedor-puntos {
  display: flex;
  justify-content: center;
}
.contenedor-puntos a {
  font-size: 1, 5em;
}

@media (max-width: 576px) {
  .contenedor-carruseles {
    margin: 0;
  }
  .contenedor-puntos {
    margin: 0;
  }
}
.tachado {
  text-decoration: line-through;
}

.precio-oferta {
  font-weight: bold;
  font-size: larger;
}

/* PAGINA ORDEN DE COMPRA */
.formulario-compra {
  margin: 20px;
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  background-color: rgb(215, 248, 248);
}
.formulario-compra button {
  margin-top: 10px;
  width: 200px;
}

@media (max-width: 576px) {
  .formulario-compra {
    width: auto;
    margin: auto;
  }
}
/* PAGINA PRODUCTOS*/
/* Video publicitario */
#videoPublicitario {
  display: flex;
  justify-content: center;
}
#videoPublicitario iframe {
  margin: 20px;
}

/* Productos*/
#botonCategorias {
  margin: 20px;
}

.contenedor-productos {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px 0;
}
.contenedor-productos .producto {
  border-radius: 10px;
  width: 80%;
}
.contenedor-productos .producto:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.contenedor-productos .producto:hover img {
  transform: scale(1.1);
}
.contenedor-productos .producto figure {
  overflow: hidden;
}
.contenedor-productos .producto figure img {
  width: 90%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
}
.contenedor-productos .producto .info-producto {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contenedor-productos .producto .info-producto .precio {
  font-size: 20 px;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 576px) {
  .contenedor-productos {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  iframe {
    width: 100%;
  }
}

/*# sourceMappingURL=app.css.map */
