/* PAGINA ORDEN DE COMPRA */

.formulario-compra {
    margin: 20px;
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    background-color: rgb(215, 248, 248);

    button {
        margin-top: 10px;
        width: 200px;
    }
}

@include mediaquery-mobile(){
    .formulario-compra {
        width: auto;
        margin: auto;
    }
}