/* Error: Undefined mixin.
 *    ,
 * 21 | / @include mediaquery-mobile(){
 * 22 | |     #carritoCompras {
 * 23 | |         width: auto;
 * 24 | |         margin: auto;
 * 25 | |     }
 * 26 | \ }
 *    '
 *   scss\PAGES\cart.scss 21:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 21 \2502  \250c  @include mediaquery-mobile(){\a 22 \2502  \2502      #carritoCompras {\a 23 \2502  \2502          width: auto;\a 24 \2502  \2502          margin: auto;\a 25 \2502  \2502      }\a 26 \2502  \2514  }\a    \2575 \a   scss\\PAGES\\cart.scss 21:1  root stylesheet";
}
